      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8"></div>
            <h4>Apple has a history of choosing cash over startups</h4>
            Apple has more cash than any other tech company on the planet. Yet, that hasn’t translated into spending on acquisitions. Over the past five years, Apple has spent the least on M&A out of all the “Big Five” most valuable U.S. tech companies. That’s despite the fact that it is estimated to have more than $260 billion in cash and cash equivalents. So, is it buying… 
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/06/pinterest2.png?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>
        <div class="col-md-4">
        <div class="row">
            <div class="col-md-8"></div>
            <h4>Netflix will look for a repeat play in 2018 after a strong year</h4>
            Netflix had a pretty good year by very Netflix-y standards: it added a ton of subscribers; its international growth plans seem to be playing out as hoped
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/12/ctrlt-podcast-featured.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>


        <div class="col-md-4">
        <div class="row">
            <div class="col-md-8"></div>
            <h4>Uber accused of espionage, bribery and hacking by former employee </h4>
            The $1.86 billion legal battle between ride-hailing giant Uber and Alphabet’s self-driving unit Waymo reached a pivotal moment today as the judge in the case released a damning letter based on the account of a former Uber employee. 
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/uber-vs-waymo.png?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8"></div>
            <h4>Apple has a history of choosing cash over startups</h4>
            Apple has more cash than any other tech company on the planet. Yet, that hasn’t translated into spending on acquisitions. Over the past five years, Apple has spent the least on M&A out of all the “Big Five” most valuable U.S. tech companies. That’s despite the fact that it is estimated to have more than $260 billion in cash and cash equivalents. So, is it buying… 
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/06/pinterest2.png?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>
        <div class="col-md-4">
        <div class="row">
            <div class="col-md-8"></div>
            <h4>Netflix will look for a repeat play in 2018 after a strong year</h4>
            Netflix had a pretty good year by very Netflix-y standards: it added a ton of subscribers; its international growth plans seem to be playing out as hoped
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/12/ctrlt-podcast-featured.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>


        <div class="col-md-4">
        <div class="row">
            <div class="col-md-8"></div>
            <h4>Uber accused of espionage, bribery and hacking by former employee </h4>
            The $1.86 billion legal battle between ride-hailing giant Uber and Alphabet’s self-driving unit Waymo reached a pivotal moment today as the judge in the case released a damning letter based on the account of a former Uber employee. 
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/uber-vs-waymo.png?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8"></div>
            <h4>Apple has a history of choosing cash over startups</h4>
            Apple has more cash than any other tech company on the planet. Yet, that hasn’t translated into spending on acquisitions. Over the past five years, Apple has spent the least on M&A out of all the “Big Five” most valuable U.S. tech companies. That’s despite the fact that it is estimated to have more than $260 billion in cash and cash equivalents. So, is it buying… 
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/06/pinterest2.png?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>
        <div class="col-md-4">
        <div class="row">
            <div class="col-md-8"></div>
            <h4>Netflix will look for a repeat play in 2018 after a strong year</h4>
            Netflix had a pretty good year by very Netflix-y standards: it added a ton of subscribers; its international growth plans seem to be playing out as hoped
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/12/ctrlt-podcast-featured.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>


        <div class="col-md-4">
        <div class="row">
            <div class="col-md-8"></div>
            <h4>Uber accused of espionage, bribery and hacking by former employee </h4>
            The $1.86 billion legal battle between ride-hailing giant Uber and Alphabet’s self-driving unit Waymo reached a pivotal moment today as the judge in the case released a damning letter based on the account of a former Uber employee. 
            <div class="col-md-4"><img width="90%" src="https://tctechcrunch2011.files.wordpress.com/2017/04/uber-vs-waymo.png?w=208&h=156&crop=1&quality=85&strip=all" /></div>
          </div>
        </div>